﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage_Test.master" AutoEventWireup="false" CodeFile="about-us.aspx.vb" Inherits="about_us" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <style>
	p {
	font-size:16px;
	}
	</style>
    <section style="padding:20px;">
		<div class="rows inner_banner inner_banner_2">
			<div class="container">				
			  <p>https://www.fastgocash.com/ a b2b travel portal, promoted by M/s Gandhi Services under the guidance of Mr. Charandeep Singh Gandhi Chairman & Managing Director. M/s Gandhi Services has been engaged in Travel and Tour Industry since 2013. We are located at No. 4, Zila Parishat Gate, Opposite A D Basic Chaupla Road, Bareilly, Uttar Pradesh.
</p>

<p>We have expanded our area and network of business though www.fastgocash.com  a b2b travel portal provides online services Flights, Train, Domestic Money Transfer and Utilities since 2019
</p>

<p>Our clients are Travel Agents & Corporate. Around 1000 travel agents are already registered and doing business through our portal.  </p>
<p>We are one of the Principal Service Provider (PSP) of IRCTC and associated with major travel industry business partners and Airlines.</p>
<p>Most of our staffs are working since more than 5 years with us and their experience helps you to get better rate and services.. fastgocash.com is committed to provide the lowest rates and the best services to our Travel partners.</p>
			</div>
		</div>
	</section>
	
	


    




    

    

</asp:Content>

