
div.close {
    background: url(../Images/closebox.png) no-repeat scroll 0 0 transparent;
    bottom: 0px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 0px;
    position: relative;
    width: 30px;
}

.textheads {
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
    color: #108bd4;
    height: 32px;
    padding-top: 8px;
}

.clspaxdtls {
        border-top-right-radius: 0px;
    cursor: pointer;
    background-color: #44b949;
    color: #fff;
    height: 47px;
    padding: 16px 10px 5px 10px;
    margin-left: 0px;
    border-bottom: 1px solid #e2e2e2;
    border-bottom-right-radius: 0px;
}

.paxselected {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
    cursor: pointer;
     background-color: #44b949!important;
    color: #fff!important;

    height: 47px;
    padding: 16px 10px 5px 10px;
    margin-left: 0px;
    border-bottom: 1px solid #e2e2e2;
    border-bottom-right-radius: 0px;
}

.vListContainerCancel {
    background-color: #fafafa;
    height: 450px;
    overflow: hidden;
    margin-top: 17px;
}
.lftgreen {
     
}

.lftgreen > a {
    width: 100%;
    height: 34px;
    padding: 15px 5px 15px 5px;
    margin-left: 3px;
    cursor:pointer;
    border-bottom: 1px solid #ccc;
}

.clear {
    margin: 1px;
    clear: both;
}

.bld {
    font-weight: 600;
}
.p10 {
    padding: 10px !important;
}
.border {
    border: thin solid #c1c1c1;
    border-radius: 0px;
    background-color: #fff;
}
.tital {
    height: 36px;
    color: #ffffff;
    padding-top: 1px;
    font-size: 15px;
    /* font-weight: 600; */
    padding-left: 10px;
    margin-bottom: 10px;
}

button, html input[type=button]{
    -webkit-appearance: button;
    cursor: pointer;
    background: #f26722;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 9px 15px;
    text-align: center;
    color: #fff;
    margin-right: 5px;
    border: 0;
    font-size: 14px;
}

.wait_New {
    width: 402px;
    position: fixed;
    top: 55%;
    left: 57%;
    margin-left: -250px;
    margin-top: -53px;
    height: auto;
    box-shadow: 0px 5px 5px rgba(221, 221, 221, 1);
    z-index: 2;
    color: #1d1d1d;
    background: rgb(255, 255, 255);
    text-align: center;
}

.common_loader_New,
.common_loader_New:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.common_loader_New {
    margin: 0px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 8px solid rgba(74, 169, 233, 0.8);
    border-right: 8px solid rgba(74, 169, 233, 0.8);
    border-bottom: 8px solid rgba(74, 169, 233, 0.8);
    border-left: 8px solid #f26722;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

#toPopup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 55%;
    margin-left: -402px;
    position: fixed;
    top: 15%;
    width: 650px;
    height:400px;
    
    z-index: 2;
}

.w100 {
    width: 100%;
}
.w120 {
    width: 120%;
}
.w75 {
    width: 75%;
}
.w40 {
    width: 40%;
}
.w25 {
    width: 25%;
}
.w20 {
    width:50% !important;
	background:red !important;
}
.w15 {
    width: 15%;
}
.w10 {
    width: 10%;
}