﻿<%@ Master Language="VB" CodeFile="MasterPagefor_money-transfer.master.vb" Inherits="MasterPagefor_money_transfer" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>FastGoCash</title>

    <meta name="description" content="This professional design html template is for build a Money Transfer and online payments website." />
    <meta name="author" content="harnishdesign.net" />

    <!-- Web Fonts
============================================= -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css' />

    <!-- Stylesheet
============================================= -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" href="vendor/currency-flags/css/currency-flags.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css" />    
    <script src="vendor/jquery/jquery.min.js"></script>

</head>
<body>
    <form id="form1" runat="server">
        <div id="main-wrapper">
            <header id="header">
                <div class="container">
                    <div class="header-row">
                        <div class="header-column justify-content-start">
                            <!-- Logo ============================= -->
                            <div class="logo">
                                <a class="d-flex" href="DMT-Home.aspx" title="FastGoCash">
                                    <img src="../Images/gallery/logo(ft).png" style="width: 200px;" alt="FastGoCash" /></a>
                            </div>
                            <!-- Logo end -->
                            <!-- Collapse Button  ============================== -->
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"><span></span><span></span><span></span></button>
                            <!-- Collapse Button end -->

                            <!-- Primary Navigation      ============================== -->
                            <nav class="primary-menu navbar navbar-expand-lg">
                                <div id="header-nav" class="collapse navbar-collapse">
                                    <ul class="navbar-nav mr-auto">
                                        <li><a href="SendMoney.aspx"><i class="fa fa-university"></i>&nbsp;&nbsp;DMT</a></li>
                                        <li><a href="../Search.aspx"><i class="fa fa-plane"></i>&nbsp;&nbsp;Flight</a></li>
                                        <li><a href="BillPayment.aspx"><i class="fa fa-mobile"></i>&nbsp;&nbsp;Recharge</a></li>
                                        <li><a href="Contact.aspx"><i class="fa fa-phone"></i>&nbsp;&nbsp;Contacts</a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Help</a></li>
                                        <li class="dropdown" style="display: none;"><a class="dropdown-toggle" href="#">Pages</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Headers</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="index.html">Light Version (Default)</a></li>
                                                        <li><a class="dropdown-item" href="feature-header-dark.html">Dark Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-header-primary.html">Primary Version</a></li>
                                                        <li><a class="dropdown-item" href="index-2.html">Transparent Version</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Navigation DropDown</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="index.html">Light Version (Default)</a></li>
                                                        <li><a class="dropdown-item" href="feature-navigation-dropdown-dark.html">Dark Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-navigation-dropdown-primary.html">Primary Version</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Second Navigation</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="send-money.html">Default Version</a></li>
                                                        <li><a class="dropdown-item" href="deposit-money.html">Alternate Version</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Page Headers</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="feature-page-header-left-alignment.html">Left Alignment</a></li>
                                                        <li><a class="dropdown-item" href="feature-page-header-center-alignment.html">Center Alignment</a></li>
                                                        <li><a class="dropdown-item" href="feature-page-header-light.html">Light Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-page-header-dark.html">Dark Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-page-header-primary.html">Primary Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-page-header-custom-background.html">Custom Background</a></li>
                                                        <li><a class="dropdown-item" href="feature-page-header-custom-background-with-transparent-header.html">Custom Background 2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Footer</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="index.html">Light Version Default</a></li>
                                                        <li><a class="dropdown-item" href="index-2.html">Alternate Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-footer-dark.html">Dark Version</a></li>
                                                        <li><a class="dropdown-item" href="feature-footer-primary.html">Primary Version</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="feature-layout-boxed.html">Layout Boxed</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </nav>
                            <!-- Primary Navigation end -->
                        </div>

                        <div class="header-column justify-content-end">
                            <!-- Login & Signup Link  ============================== -->
                            <%--      <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
              <li><a href="login.html">Login</a> </li>
              <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" href="signup.html">Sign Up</a></li>
            </ul>
          </nav>--%>
                            <!-- Login & Signup Link end -->
                        </div>
                    </div>
                </div>
            </header>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>


            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg d-lg-flex align-items-center">
                            <ul class="nav justify-content-center justify-content-lg-start text-3">
                                <li class="nav-item"><a class="nav-link active" href="#">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Help</a></li>

                            </ul>
                        </div>
                        <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                            <ul class="social-icons justify-content-center">
                                <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                                <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                        <div class="row">
                            <div class="col-lg">
                                <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2020 <a href="#">FastGoCash</a>. All Rights Reserved.</p>
                            </div>
                            <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item"><a class="nav-link active" href="#">Security</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/owl.carousel/owl.carousel.min.js"></script>

        <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>

        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
        <script src="js/theme.js"></script>

        <%--<script>
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion          
                });
                $('#verticalTab').easyResponsiveTabs({
                    type: 'vertical', //Types: default, vertical, accordion
                });
            });

            $(function () {
                'use strict';
                // Birth Date
                $('#birthDate').daterangepicker({
                    singleDatePicker: true,
                    "showDropdowns": true,
                    autoUpdateInput: false,
                    maxDate: moment().add(0, 'days'),
                }, function (chosen_date) {
                    $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
                });
            });
         </script>--%>        
    </form>
</body>
</html>
