﻿
@media only screen and (max-width: 500px) {
    body

{
    margin-top: 0px;
}

.passenger {
    padding-left: 0px;
    width: 100% !important;
}

.headerow {
    display: none;
}

.modify-search {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 9999999 !important;
    background: #fff !important;
    left: 0 !important;
    right: 0 !important;
}


.modify-search {
    display: none;
}

#hide-mod {
    background: #000;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 8px;
    border: 1px solid red;
    display: block !important;
}

}

#hide-mod {
    display: none;
}

.animation {
    box-shadow: 0 0 10rem 0 #000000;
}

body {
    /*box-shadow: 0 0 10rem 0 #000000 inset;*/
    margin-top: -73px;
}

html, body {
    width: 100%;
    height: 100%;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    background-color: #1D1F20;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

    footer span {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }

a {
    text-decoration: none;
    color: #FFA500;
}

    a:hover {
        text-decoration: underline;
    }

.animation {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    max-width: 55rem;
    background-color: #ffffff;
    border-radius: 4px;
    animation: 24s linear infinite sky;
}

    .animation:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 0 7rem 30rem -4rem #5aacdc inset;
    }

    .animation [class^="animation__"], .animation [class*=" animation__"] {
        position: absolute;
    }

.animation__plane {
    position: absolute;
    z-index: 1;
    top: calc(40% - (62px/2));
    left: calc(50% - (272px/2));
    width: 17rem;
    height: 6.2rem;
    animation: 2s ease-in-out takeOff, 5s ease-in-out infinite alternate flight 2s;
}

.animation__plane--shadow {
    bottom: 1rem;
    left: calc(54% - (8rem/2));
    width: 8rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    animation: 2s ease-in-out takeOffShadow, 5s ease-in-out infinite alternate flightShadow 2s;
}

.animation__cloud--front {
    z-index: 2;
    top: 50%;
    left: 20%;
    width: 8.5rem;
    height: 3rem;
    fill: #cee4e7;
    animation: 4s linear infinite cloudFront;
}

.animation__cloud--middle {
    top: 22%;
    left: 75%;
    width: 6rem;
    height: 3rem;
    fill: #cee4e7;
    animation: 5s linear infinite cloudMiddle;
}

.animation__cloud--back {
    top: 6%;
    left: 34%;
    fill: #cee4e7;
    animation: 8s linear infinite cloudBack;
}

.animation .animation__loader {
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

    .animation .animation__loader:after {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #cee4e7;
        overflow: hidden;
        animation: 1.5s ease-in-out infinite loader;
    }

@keyframes loader {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes takeOff {
    0% {
        transform: translate(-220%, 110%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes takeOffShadow {
    0% {
        transform: translate(-440%, 110%);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

@keyframes flight {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 10%);
    }

    75% {
        transform: translate(0, -10%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flightShadow {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    25% {
        transform: scale(0.9);
        opacity: 1;
    }

    75% {
        transform: scale(1.1);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

@keyframes cloudFront {
    0% {
        transform: translate(520%, 0);
    }

    100% {
        transform: translate(-600%, 0);
    }
}

@keyframes cloudMiddle {
    0% {
        transform: translate(230%, 0);
    }

    100% {
        transform: translate(-900%, 0);
    }
}

@keyframes cloudBack {
    0% {
        transform: translate(910%, 0);
    }

    100% {
        transform: translate(-1000%, 0);
    }
}

@keyframes sky {
    0% {
        background-color: #ffffff;
    }

    20% {
        background-color: #ffffff;
    }

    35% {
        background-color: #ffc8bd;
    }

    50% {
        background-color: transparent;
    }

    70% {
        background-color: transparent;
    }

    85% {
        background-color: #ffc8bd;
    }

    100% {
        background-color: #ffffff;
    }
}



.top-bar {
    background: #005999;
    padding: 1px 18px 0px 0px;
    border-radius: 4px;
    overflow: hidden;
    min-height: 60px;
    border: 1px solid #ccc;
    width: 99%;
}

.searchtext {
    height: 54px;
    margin-top: 56px;
}


.close-mod {
    display: none;
}



#passengersss {
    border: 1px solid rgb(218, 216, 216);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 0px 0px;
    border-radius: 4px;
    position: relative;
    top: auto;
    overflow: hidden;
    height: auto;
    display: block;
   /* width: 210px;*/
}


@media only screen and (min-width: 600px) {

    .mob-t {
        display: none;
    }
}


@media only screen and (max-width: 500px) {
    .f-break {
        display: none;
    }

    .flt-img {
        display: none;
    }

    .arro {
        display: none;
    }

    .mob-t {
        display: block;
    }

    .termi-nal {
        display: none;
    }

    .stp-dur {
        display: none;
    }

    .sea-ref {
        display: none;
    }

    .stp-dur {
        display: none;
    }


    .fa-t {
        float: right;
    }

    /*.nav-container {
                display:none;
            }*/


    .top-bar {
        background: #005999;
        padding: 1px 18px 0px 0px;
        border-radius: 0px;
        overflow: hidden;
        min-height: 60px;
        border: 1px solid #ccc;
        width: 123%;
    }

    #passengersss {
        border: 1px solid rgb(218, 216, 216);
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 0px 0px;
        border-radius: 4px;
        position: relative;
        top: auto;
        overflow: hidden;
        height: auto !important;
        display: block;
        margin-left: 0px !important;
        width: 100% !important;
    }


    .back {
        display: none;
    }

    .close-mod {
        display: block;
    }

    #prexnt {
        display: none !important;
    }

    .modify-search {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        z-index: 9999999 !important;
        background: #fff !important;
        left: 0 !important;
        right: 0 !important;
    }


    .modify-search {
        display: none;
    }

    .hr {
        display: none;
    }

    .seat-av {
        display: none;
    }

    .falsebookbutton {
        background-color: #ef631e !important;
        color: #ffffff !important;
        width: 60px;
        height: 22px;
        float: left;
        /* padding: 9px 5px; */
        font-weight: bold;
        text-align: center;
        /* padding-top: 6px; */
        right: 0px;
        font-size: 13px;
        border-radius: 20px !important;
        border: 1px solid #ef631e;
        border: 0px solid #ffffff;
        cursor: pointer;
        border-bottom: 3px solid #c03f05;
        bottom: 3px;
        position: relative;
        /* margin-left: -190px; */
        top: 0px;
    }

    .one-way-fair {
        height: 90px !important;
        overflow: hidden;
        overflow-y: scroll;
        z-index: 800;
    }

    .short {
        display: none;
    }

    .arrow {
        display: none;
    }

    .fair-r {
        z-index: 800;
        width: 39% !important;
        right: 0px !important;
        font-weight: 600;
        overflow-y: hidden !important;
        height: auto !important;
    }

    .fair-r2 {
        z-index: 800;
        width: 145% !important;
        right: 0px !important;
        font-weight: 600;
        overflow-y: hidden !important;
        height: auto !important;
    }


    .fltbox {
        /* border-bottom: thin solid #d1d1d1; */
        background: #fff none repeat scroll 0 0;
        border: 1px solid #fff;
        box-shadow: 0 1px 2px 0 #ccc;
        width: 100%;
        padding: 10px 10px 0px 11px;
        background: #fff;
        /* clear: both; */
        height: auto;
        margin-bottom: 0px;
        transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
        border: 1px solid rgba(0,0,0,0.125);
        border-radius: 0px;
    }
}

.fair-r2 {
    z-index: 800;
    width: 29%;
    right: 19px;
    font-weight: 600;
    overflow-y: scroll;
    height: 75px;
}


.fair-r {
    z-index: 800;
    width: 29%;
    right: 0px;
    font-weight: 600;
    overflow-y: scroll;
    height: 75px;
}

.one-way-fair {
    height: 138px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 800;
}



.wrapper {
    color: #555;
    cursor: help;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
}

.wrapper .tooltip-content {
    background: #005999;
    font-weight: 100;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -128px;
    margin-bottom: 8px;
    opacity: 0;
    padding: 12px;
    pointer-events: none;
    position: absolute;
    width: 153%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

    .wrapper .tooltip-content:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .wrapper .tooltip-content:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 69%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }

.wrapper:hover .tooltip-content {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.lte8 .wrapper .tooltip-content {
    display: none;
}

.lte8 .wrapper:hover .tooltip-content {
    display: block;
}





.wrapper-1 {
    text-transform: uppercase;
    /*background: #ececec;*/
    color: #555;
    cursor: help;
    /*font-family: "Gill Sans", Impact, sans-serif;*/
    font-size: 20px;
    /*margin: 100px 75px 10px 75px;
padding: 15px 20px;
position: relative;
text-align: center;*/
    /*width: 200px;*/
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper-1 .tooltip-content-1 {
    width: 220%;
    position: absolute;
    margin: 0 0 7px 0;
    font-weight: normal;
    font-style: normal;
    text-align: CENTER;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 1px 2px rgba(255,255,255,0.5) inset;
    cursor: default;
    display: block;
    color: #fff;
    background: #005999;
    padding: 7px;
    opacity: 0;
    left: -118px;
    z-index: 999;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper-1 .tooltip-content-1:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .wrapper-1 .tooltip-content-1:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 68%;
        /* margin-left: -13px; */
        position: absolute;
        width: 0;
        top: -10px;
        transform: rotate(180deg);
    }

.wrapper-1:hover .tooltip-content-1 {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper-1 .tooltip-content-1 {
    display: none;
}

.lte8 .wrapper-1:hover .tooltip-content-1 {
    display: block;
}





.wrapper-1 {
    text-transform: uppercase;
    /*background: #ececec;*/
    color: #555;
    cursor: help;
    /*font-family: "Gill Sans", Impact, sans-serif;*/
    font-size: 20px;
    /*margin: 100px 75px 10px 75px;
padding: 15px 20px;
position: relative;
text-align: center;*/
    /*width: 200px;*/
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper-2 .tooltip-content-2 {
    background: #005999;
    /*font-size: 14px;*/
    font-weight: 100;
    bottom: 100%;
    color: #fff;
    display: block;
    line-height: 2px;
    left: -64px;
    top: -50px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 176%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

    /* This bridges the gap so you can mouse into the tooltip without it disappearing */
    .wrapper-2 .tooltip-content-2:before {
        bottom: -20px;
        content: " ";
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    /* CSS Triangles - see Trevor's post */
    .wrapper-2 .tooltip-content-2:after {
        border-left: solid transparent 10px;
        border-right: solid transparent 10px;
        border-top: solid #005999 10px;
        bottom: -10px;
        content: " ";
        height: 0;
        left: 69%;
        margin-left: -13px;
        position: absolute;
        width: 0;
    }

.wrapper-2:hover .tooltip-content-2 {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper-2 .tooltip-content-2 {
    display: none;
}

.lte8 .wrapper-2:hover .tooltip-content-2 {
    display: block;
}



body {
    background: #e6e6e6;
}

.falsebookbutton {
    background: #ff414d !important;
    outline: none !important;
}

.rtable {
    /*display: inline-block;*/
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
    width: 736px;
}

.rtable,
.rtable--flip tbody {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
}

    .rtable td:first-child,
    .rtable--flip tbody tr:first-child {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-size: 20px 100%;
    }

    .rtable td:last-child,
    .rtable--flip tbody tr:last-child {
        background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
        background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 20px 100%;
    }

    .rtable th {
        font-size: 11px;
        text-align: left;
        text-transform: uppercase;
        background: #0952a4 !important;
        color: #fff;
    }

    .rtable th,
    .rtable td {
        padding: 6px 12px;
        border: 1px solid #d9d7ce;
    }

td {
    font-size: 12.5px;
}

.rtable--flip {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    background: none;
}

    .rtable--flip thead {
        display: -webkit-box;
        display: flex;
        flex-shrink: 0;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
    }

    .rtable--flip tbody {
        display: -webkit-box;
        display: flex;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rtable--flip tr {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
        flex-shrink: 0;
    }

    .rtable--flip td,
    .rtable--flip th {
        display: block;
    }

    .rtable--flip td {
        background-image: none !important;
        border-left: 0;
    }

        .rtable--flip th:not(:last-child),
        .rtable--flip td:not(:last-child) {
            border-bottom: 0;
        }

/*!
// CodePen house keeping
*/
/*body {
            margin: 0;
            padding: 25px;
            color: #494b4d;
            font-size: 14px;
            line-height: 20px;
        }*/

h1, h2, h3 {
    /*margin: 0 0 10px 0;*/
    color: #1d97bf;
}

h1 {
    font-size: 25px;
    line-height: 30px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

table {
    margin-bottom: 30px;
    background: #fff !important;
}

a {
    color: #ff6680;
}

code {
    background: #fffbcc;
    font-size: 12px;
}





input[type=checkbox] {
    margin-top: 7px;
}

body {
    overflow-x: hidden;
}



@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .fltkun

{
    position: relative;
    top: -20px;
    float: left;
    right: 600px;
    width: 501px;
}

}

/*@media screen and (min-width: 1440px) and (max-width: 1080px) {*/
.fltkun {
    position: relative;
    top: -20px;
    float: left;
    right: 600px;
    width: 501px;
}
/*}*/

/*@media only screen and (max-width: 1440px) {
  .fltkun {
        position: relative;
    top: -17px;
    float: left;
    right: 655px;
    width: 501px;
  }
}

        @media only screen and (max-width: 1920px) {
  .fltkun {
        position: relative;
    top: -17px;
    float: left;
    right: 655px;
    width: 501px;
  }
}*/
.animation {
    box-shadow: 0 0 10rem 0 #000000;
}

body {
    /*box-shadow: 0 0 10rem 0 #000000 inset;*/
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /*box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  background-color: #1D1F20;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  font-weight: 100;
  box-shadow: 0 0 10rem 0 #000000 inset;*/
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
    background-color: #1D1F20;
    text-align: center;
    font-family: "Indie Flower", cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

    footer span {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1rem;
        font-weight: 100;
    }

a {
    text-decoration: none;
    color: #FFA500;
}

    a:hover {
        text-decoration: underline;
    }

.animation {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    max-width: 55rem;
    background-color: #ffffff;
    border-radius: 4px;
    animation: 24s linear infinite sky;
}

    .animation:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 0 7rem 30rem -4rem #5aacdc inset;
    }

    .animation [class^="animation__"], .animation [class*=" animation__"] {
        position: absolute;
    }

.animation__plane {
    position: absolute;
    z-index: 1;
    top: calc(40% - (62px/2));
    left: calc(50% - (272px/2));
    width: 17rem;
    height: 6.2rem;
    animation: 2s ease-in-out takeOff, 5s ease-in-out infinite alternate flight 2s;
}

.animation__plane--shadow {
    bottom: 1rem;
    left: calc(54% - (8rem/2));
    width: 8rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    animation: 2s ease-in-out takeOffShadow, 5s ease-in-out infinite alternate flightShadow 2s;
}

.animation__cloud--front {
    z-index: 2;
    top: 50%;
    left: 20%;
    width: 8.5rem;
    height: 3rem;
    fill: #cee4e7;
    animation: 4s linear infinite cloudFront;
}

.animation__cloud--middle {
    top: 22%;
    left: 75%;
    width: 6rem;
    height: 3rem;
    fill: #cee4e7;
    animation: 5s linear infinite cloudMiddle;
}

.animation__cloud--back {
    top: 6%;
    left: 34%;
    fill: #cee4e7;
    animation: 8s linear infinite cloudBack;
}

.animation .animation__loader {
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

    .animation .animation__loader:after {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #cee4e7;
        overflow: hidden;
        animation: 1.5s ease-in-out infinite loader;
    }

@keyframes loader {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes takeOff {
    0% {
        transform: translate(-220%, 110%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes takeOffShadow {
    0% {
        transform: translate(-440%, 110%);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

@keyframes flight {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 10%);
    }

    75% {
        transform: translate(0, -10%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flightShadow {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    25% {
        transform: scale(0.9);
        opacity: 1;
    }

    75% {
        transform: scale(1.1);
        opacity: 0.6;
    }

    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

@keyframes cloudFront {
    0% {
        transform: translate(520%, 0);
    }

    100% {
        transform: translate(-600%, 0);
    }
}

@keyframes cloudMiddle {
    0% {
        transform: translate(230%, 0);
    }

    100% {
        transform: translate(-900%, 0);
    }
}

@keyframes cloudBack {
    0% {
        transform: translate(910%, 0);
    }

    100% {
        transform: translate(-1000%, 0);
    }
}

@keyframes sky {
    0% {
        background-color: #ffffff;
    }

    20% {
        background-color: #ffffff;
    }

    35% {
        background-color: #ffc8bd;
    }

    50% {
        background-color: transparent;
    }

    70% {
        background-color: transparent;
    }

    85% {
        background-color: #ffc8bd;
    }

    100% {
        background-color: #ffffff;
    }
}







.flt-dur {
    width: 92%;
    margin: 7px auto;
    font-size: 16px;
    position: relative;
}

.flt-dur:before {
    content: "";
    border-bottom: 1px solid #a5a4a4;
    width: 100%;
    display: inline-block;
    margin-bottom: 3px;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    left: -3px;
    position: absolute;
    background: #a5a4a4;
}

.dot-plan {
    margin: -10px auto;
    padding: 0px;
    width: 10%;
    background: #fff;
}

.dot2 {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: -2px;
    right: -1px;
    position: absolute;
    background: #a5a4a4;
}





label {
    /*color: orange;*/
}

table {
    /*width: 906px;*/
    border-collapse: collapse;
    /*margin: 50px auto;*/
    height: 119px;
}

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #0952a4;
    color: #a5a4a4;
    /*font-weight: bold;*/
}

td, th {
    padding: 2px;
    border: 1px solid #ccc;
    text-align: left;
    /*font-size: 18px;*/
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }


    table, thead, tbody, th, td, tr {
        display: block;
        padding: inherit;
    }


        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-column);
            color: #000;
            font-weight: bold;
        }
}




.plane_dep {
    background: url("../Images/icons/flight_dep.png") no-repeat top left;
}

.plane_dep {
    background-position: 0 0;
    width: 32px;
    height: 32px;
}






#flterTab {
    padding-left: 0px !important;
}

input[type=checkbox] {
    margin-top: 7px;
}

body {
    font-family: "Lato", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
    /* Float the list items side by side */
    ul.tab li {
        float: left;
        display: inline;
    }
        /* Style the links inside the list items */
        ul.tab li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }
            /* Change background color of links on hover */
            ul.tab li a:hover {
                background-color: #ddd;
            }
            /* Create an active/current tablink class */
            ul.tab li a:focus, .active {
                /*background-color: #ccc;*/
            }

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.des-nav {
    z-index: 999;
    position: fixed;
    top: 135px;
    left: 21.5%;
    font-size: 13px;
    width: 76%;
    border: 1px solid #d1d1d1;
    border-bottom: none;
    border-top: none;
}



#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #353535;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
    overflow: visible !important;
}

#panel1, #flip1 {
    padding: 5px;
    text-align: center;
    /*background-color: #e5eecc;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel1 {
    padding: 50px;
    display: none;
    overflow: visible !important;
}




#flight, #flt {
    padding: 5px;
    text-align: center;
    /*background-color: #e5eecc;*/
    /*border: solid 1px #c3c3c3;*/
}

#panel {
    padding: 50px;
    display: none;
}



.check {
    opacity: 0.5;
    color: #996;
}





@import url(https://fonts.googleapis.com/css?family=Lobster);

@-webkit-keyframes fly {
    to

{
    transform: rotate(180deg);
}

}

@-webkit-keyframes shadow {
    from {
        text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    to {
        text-shadow: 4px 0 0 rgba(0, 0, 0, 0.2);
    }
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 220px;
    margin: -110px 0 0 -200px;
    /*background: linear-gradient(skyblue, steelblue);*/
    border-radius: 8px;
    text-align: center;
    color: white;
    overflow: hidden;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgb(75, 121, 161), rgb(40, 62, 81));
}

    #loader:before {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: -180px;
        left: 20px;
        border-radius: 50%;
        border: 1.8px dashed rgba(255, 255, 255, 0.75);
    }

#plane {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 44px;
    transform-origin: 200px 20px;
    -webkit-animation: fly 5s infinite linear;
}

    #plane i {
        margin: 4px 0 0 2px;
        transform: rotate(-45deg);
        -webkit-animation: shadow 5s infinite linear;
    }

#loader p {
    margin-top: 120px;
    line-height: 32px;
    font-family: 'Lobster', sans-serif;
    font-size: 72px;
    text-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

.jplist-range-slider .ui-slider {
    float: left;
    width: 100% !important;
    margin-left: -4px;
    margin-top: -3px;
}
.headerow {
    background: #b5b5b5;
    color: #fff;
    line-height: 34px;
    font-weight: 400;
    font-size: 13px;
     width: 100% !important; 
    padding: 0 1%;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
}
.fltbox {
  
    background: #fff none repeat scroll 0 0;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px 0 #ccc;
     width: 100% !important; 
    padding: 10px 10px 0px 11px;
    background: #fff;
  
    height: auto;
    margin-bottom: 8px;
    transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1);
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 4px;
}


.flttabFilter {
    position: relative;
    top: 45px;
    float: left;
    right: -112px;
   /* width: 430px;*/
}